

@use "./partials/variables";

@use "./partials/generales";





@use "./partials/headerfooter";


@use "./pages/index";


@use "./pages/helados";


@use "./pages/soporte";






@use "./partials/mediaq";