@use "./variables" as*;




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*font-family: "Edu NSW ACT Hand Pre", cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Averia+Gruesa+Libre&family=Edu+NSW+ACT+Hand+Pre:wght@400..700&display=swap');

body {
    font-family: $font;
    text-align: center;
    background-color: rgb(203, 234, 244);
}

img {
    width: 220px;
    height: 350px;
    border-radius: 10px;
}

h1 {
    color: #0C2340;
    font-size: 3rem;
    text-shadow: -7px 4px 4px rgba(181, 178, 224, 0.6);
    margin: 30px;
    transition: 3s;
    animation-name: luz;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}

@keyframes luz {
    0% {

        transform: translateX(30px);

    }

    25% {}

    50% {
        transform: scaleX(1);
    }

    75% {}

    100% {
        transform: translateY(10px);
    }

}

h1:hover {
    color: rgba(78, 156, 156, 0.712);

}

h3 {
    font-size: 1.5rem;
    margin: 30px;
    border-radius: 15px;
}

h2 {
    font-size: 2rem;
    text-align: center;
    text-shadow: -1px 4px 13px rgba(255, 255, 255, 1);
    margin: 30px;
    border-radius: 15px;
}