

@use "../partials/variables" as*;
/*header */


header {
    display: flex;
    justify-content: space-between;
    background-color:$azulhf ;


    width: 100%;

    img {
        margin: 10px;
        width: 180px;
        height: 180px;
        padding: 5px;
    }

    nav {
        width: 60%;
        margin-right: 30px;

        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            height: 100%;
            align-items: center;



            li {

                a {
                    text-decoration: none;
                    color: rgb(0, 30, 39);
                    font-size: 1.7rem;
                }
            }
        }

    }
}

/* footer */

footer {

    display: flex;
    justify-content:  space-between;
    background-color: $azulhf;
    align-items:   center;

    img {
        width: 80px;
        height: auto;
    }

}